
.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  float: inherit !important;
}

th, td {
  padding: 10px 98px !important;
}

input#email.form-control{
  margin-top: 40px !important;
}

input#term.form-control.searchbar{
  margin-top: 11% !important
}

.firstlabel {
    font-size: 1.5rem !important;
    margin-right: 1rem !important;
  }

#formid {
  width: 1500px;
}

input.form-control.searchbar {
    width: 29% !important;
    height: 46px !important;
    margin-top: 184px !important;
    margin-left: -140px !important;
    margin-right: auto !important;
  }

#term {
  margin-left: 100px !important;
  margin-top: 100px !important;
}

.btn {
    display: inline-block;
    padding: 10px 13px !important;
    margin-bottom: 0px;
    font-size: 15px !important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px !important;
    margin-top: 12px !important;
    margin-left: 56px !important;
}

#signinButton {
  margin-left: 46% !important;
}


h3 {
/*margin-left: auto !important;
margin-right: auto !important;
margin-top: -2.5em !important;*/
font-family: 'Sansita One', cursive !important;
/*text-align: center !important;*/
}



p {
  font-size: 40px;
}

fieldset {
  border: 1px solid rgba(0,0,0,0)!important;
}

.form-control {
  width: 29% !important;
  height: 46px !important;
  margin-top: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.firstlabel {
  margin-top: 180px !important;
}
.form-group, .btn {
  margin-right: auto !important;
  text-align: center !important;
  display: block !important;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.form-group{
  clear:both;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(0, 0, 0, 0) !important;
  }

.smallnav, .navbar {
    position: relative;
    display: block;
    padding: 11px 17px !important;
    float: right !important;
    color: rgba(0,0,0,0.8) !important;
    font-size: 15px;
    margin-top: 8px;
}

.fridaynav, h1 {
  font-family: 'Sansita One', cursive !important;
  color: rgba(255, 161, 20, 0.92) !important;
  margin-left: 54px !important;
  float: left !important;
  font-size: 40px;
  margin-top: 19px;
}
